* {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
}

body {
    height: 100vh;
    background-color: #0f0f0f;
}



.title {
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
}



.container {
    display: flex; 
    flex-direction: row; 
    height: 100%;
}

.left {
    height: 100%;
    width: 30%; 
}

.right {
    height: 100%;
    width: 70%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#treeVisualizer {
    width: 87%;
    height: 93%;
}



.buttons {
    background-color: #19191a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.credits {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

.credits a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.credits a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.codeOutput {
    background-color: #19191a;
    color: white;
    font-size: 10px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}

.instructions {
    color: white;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
